:root {
  --primary-color: #8cbeb2;
  --secondary-color: #557a70;
  --tertiary-color: #28443d;

  --dark-background: #1e1f1c;
  --dark-text: #cccccc;

  --light-background: #ffffff;
  --light-text: #525252;
}

.commentBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
}

body {
  margin-top: 0.5em;
  font-family: Helvetica, sans-serif;
}

body.vscode-dark,
body.vscode-high-contrast {
  background-color: var(--dark-background);
  color: var(--dark-text);
  #btnGroup {
    background-color: var(--dark-background);
  }
}

body.vscode-light {
  background-color: var(--light-background);
  color: var(--light-text);
  #btnGroup {
    background-color: var(--light-background);
  }
}

#saveBtn {
  margin-right: 0.5em;
}

.priority-icon {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.btn-primary {
  background-color: var(--primary-color);
  color: black;
  border-color: var(--secondary-color);

  &:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--tertiary-color) !important;
  }
}

.btn-secondary {
  background-color: #f4f4f4;
  color: black;
  border-color: black;

  &:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--tertiary-color) !important;
  }
}

.btn-outline-primary {
  /* background-color: var(--tertiary-color); */
  color: var(--primary-color);
  border-color: var(--primary-color);

  &:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--tertiary-color) !important;
  }
}

.btn-sm {
  font-size: 0.7em;
  margin-bottom: 1em;
}

.btn-lg {
  font-size: 0.8em;
  padding: 0.4em 1.3em;
}

#btnGroup2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

#btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0.5em;
  padding-right: 1em;
  position: fixed;
  bottom: 0em;
  right: 0em;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

h3 {
  font-size: 0.8em;
  font-weight: 600;
}

#rubricDescription {
  font-size: 0.7em;
}

input[class="btn-check"]:checked + label {
  background-color: var(--primary-color) !important;
  color: black !important;
  border-color: var(--secondary-color) !important;
}

input[class="btn-check"]:hover + label {
  background-color: var(--secondary-color) !important;
  color: white !important;
  border-color: var(--secondary-color) !important;
}

.flex-container,
#priority-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#priority-container {
  margin: 1.7em 0;
  flex-direction: column;
}

.radio-button-group {
  max-width: 100%;
  margin-top: 0.2em;
  display: flex;
}

/* Radio buttons for priority in inline comments */
.priority-button-group {
  max-width: 100%;
  margin-top: 0.2em;
  display: flex;
}

#priority-buttons {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.priority-label {
  margin: 0;
}

/* Hides radio buttons to show SVG for priority */
#low-priority,
#medium-priority,
#high-priority {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
}

.priority-icon {
  filter: grayscale(80%);
}

/* Shows colour of chosen priority */
input[name="priority"]:checked + .priority-icon {
  filter: grayscale(0%);
}

.rubric {
  padding: 0.5em;
  border: 0.5px solid #525252;
}

/* Light mode for rubric */
body.vscode-light #rubricContainer .rubric {
  background-color: #f8f8f8;
}

/* Dark mode for rubric */
body.vscode-dark #rubricContainer .rubric {
  background-color: #272822;
}

.bi-search {
  color: var(--primary-color);
}

textarea {
  width: 100%;
  height: 8em;
  padding: 0.3em;
}

input {
  margin-bottom: 1em;
  padding: 1%;
  width: 100%;
}

#deleteBtn {
  margin-right: 0.5em;
}

#overviewBtn {
  margin-bottom: 0.5em;
}

.saveDiv {
  display: flex;
  padding-top: 0.3em;
}

.saveIcon {
  margin-left: 1.5em;
  margin-right: 0.3em;
  height: 1.2em;
  width: 1.2em;
}

.saveText {
  font-size: 0.8em;
  margin-top: 0.05em;
}

.container {
  display: block;
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container .radio-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.container:hover .radio-button ~ .checkmark {
  background-color: #ccc;
}

.container .radio-button:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .radio-button:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: var(--primary-color);
}

@media (max-width: 235px) {
  .radio-button-group {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  #priority-buttons {
    flex-direction: column;
  }
}
