/* COLOURS */
:root {
  --dark-primary-color: #9c8cd6;
  --secondary-color: #7a61d3;
  --dark-tertiary-color: #524778;
  --dark-background: #1e1f1c;
  --dark-text: #030303;

  --light-primary-color: #4e4aa1;
  --light-tertiary-color: #463d62;
  --light-background: #ffffff;
  --light-text: #ffffff;
}

/* GENERAL STYLES */
body {
  margin-top: 0.5em;
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
}

textarea,
input::placeholder {
  font-family: Helvetica, sans-serif;
}

body.vscode-dark,
body.vscode-high-contrast {
  background-color: var(--dark-background);
  color: var(--light-text);

  #btnGroup {
    background-color: var(--dark-background);
  }

  .btn-primary {
    background-color: var(--dark-primary-color);
    color: var(--dark-text);
    border: 1px solid var(--dark-primary-color);

    &:hover {
      color: var(--dark-text);
      background-color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
    }

    &:active {
      color: var(--light-text);
      background-color: var(--dark-tertiary-color) !important;
      border: 1px solid var(--dark-tertiary-color) !important;
    }
  }

  .btn-outline-primary {
    color: var(--dark-primary-color);
    border: 1px solid var(--dark-primary-color);

    &:hover {
      color: var(--dark-text);
      background-color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
    }

    &:active {
      color: var(--light-text);
      background-color: var(--dark-tertiary-color) !important;
      border: 1px solid var(--dark-tertiary-color) !important;
    }
  }

  #rubricContainer .rubric {
    background-color: #272822;
  }

  .bi-search {
    color: var(--dark-primary-color);
  }
}

body.vscode-light {
  background-color: var(--light-background);
  color: var(--dark-text);

  #btnGroup {
    background-color: var(--light-background);
  }

  .btn-primary {
    background-color: var(--light-primary-color);
    color: var(--light-text);
    border: 1px solid var(--light-primary-color);

    &:hover {
      color: var(--light-text);
      background-color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
    }

    &:active {
      color: var(--light-text);
      background-color: var(--light-tertiary-color) !important;
      border: 1px solid var(--light-tertiary-color) !important;
    }
  }

  .btn-outline-primary {
    color: var(--light-primary-color);
    border: 1px solid var(--light-primary-color);

    &:hover {
      color: var(--light-text);
      background-color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
    }

    &:active {
      color: var(--light-text);
      background-color: var(--light-tertiary-color) !important;
      border: 1px solid var(--light-tertiary-color) !important;
    }
  }

  #rubricContainer .rubric {
    background-color: #f8f8f8;
  }

  .bi-search {
    color: var(--light-primary-color);
  }
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

h2 {
  font-size: 0.9em;
  font-weight: bold;
}

h3 {
  font-size: 0.8em;
  font-weight: 600;
}

textarea {
  width: 100%;
  height: 8em;
  padding: 0.3em;
}

input {
  margin-bottom: 1em;
  padding: 1%;
  width: 100%;
}

/* BUTTONS */
button {
  padding: 0.5em 0.7em;
  border: none;
  background-color: transparent;
  border-radius: 0.5em;
}

#btnGroup2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

#btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  padding-right: 1em;
  position: fixed;
  bottom: 0em;
  right: 0em;
}

#deleteBtn {
  margin-right: 0.5em;
}

#overviewBtn {
  margin-bottom: 0.5em;
}

/* FOR INLINE COMMENTS */
#commentData {
  margin: 0 0.2em;
}

#commentTitle,
#commentText {
  margin: 0.2em;
  padding: 0.5em;
  width: 98%;
}

#commentTitle {
  margin-bottom: 1em;
}

#submitText {
  font-size: 0.8em;
}

#priority-container {
  margin: 0.5em 0;
  flex-direction: column;
}

.priority-button-group {
  max-width: 100%;
  margin: 0.2em 0;
  display: flex;
}

.priority-icon {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#priority-buttons {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.priority-label {
  margin: 0;
}

/* Hides radio buttons to show SVG for priority */
#low-priority,
#medium-priority,
#high-priority {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
}

.priority-icon {
  filter: contrast(0%);
}

/* Shows colour of chosen priority */
input[name="priority"]:checked + .priority-icon {
  filter: grayscale(0%);
}

/* FOR GENERAL COMMENTS */
.rubric {
  padding: 0.1em 0.5em;
  border: 0.5px solid #525252;
}

.commentBox {
  display: flex;
  flex-direction: column;
  width: 98%;
}

#rubricDescription {
  font-size: 0.7em;
  line-height: 1.5;
}

.flex-container,
#priority-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveDiv {
  display: flex;
  align-items: center;
  padding-top: 0.3em;
  margin-bottom: 0.3em;
}

.saveIcon {
  margin-left: 1.5em;
  margin-right: 0.3em;
  height: 1.2em;
  width: 1.2em;
  margin-bottom: 0.3em;
}

.saveText {
  font-size: 0.8em;
  margin-top: 0.05em;
  margin-bottom: 0.3em;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 1.5em;
  padding-right: 1.3em;
  padding-bottom: 1.5em;
  font-size: 0.75em;
}

.radio-button-group {
  max-width: 100%;
  margin-top: 0.2em;
  display: flex;
}

.container label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .radio-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.container:hover .radio-button ~ .checkmark {
  background-color: #ccc;
}

.container .radio-button:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .radio-button:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-primary-color);
}

/* MEDIA QUERIES */
@media (max-width: 260px) {
  .radio-button-group {
    flex-direction: column;
  }

  .container {
    margin-bottom: 1em;
  }
}

@media (max-width: 400px) {
  #priority-buttons {
    flex-direction: column;
  }
}
