@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #8CBEB2;
$secondary: #557a70;
$tertiary: #28443d;

.commentBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
  } 
  
  body {
    margin-top: 0.5em;
    background-color: #1e1f1c;
    font-family: Helvetica, sans-serif;
  }

  #saveBtn {
    margin-right: 0.5em;
  }
  
  .btn-primary {
    background-color: $primary;
    color: black;
    border-color: $secondary;
  
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
    }

    &:active {
      background-color: $tertiary !important;
    }
  }

  .btn-secondary {
    background-color: #F4F4F4;
    color: black;
    border-color: black;
  
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
    }

    &:active {
      background-color: $tertiary !important;
    }
  }

  .btn-sm {
    font-size: 0.7em;
    margin-bottom: 1em;
  }

  .btn-lg {
    font-size: 0.8em;
    padding: 0.4em 1.3em;
    border-radius: 10%;
  }

  #editBtns, #addBtnDiv, #btnGroup {
    display: flex;
    justify-content: right;
  } 
    
  h1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #cccccc;
  }

  h2 {
    color: #cccccc;
  }

  h3 {
    font-size: 0.9em;
    font-weight: bold;
    color: #cccccc;
  }

  h4 {
    font-size: 0.8em;
    font-weight: 600;
  }

  #rubricDescription {
    font-size: 0.7em;
  }

  .btn-outline-primary {
    border-color: $secondary;
    color: $secondary;
  }

  input[class="btn-check"]:checked + label {
    background-color: $primary !important;
    color: black !important;
    border-color: $secondary !important;
  }

  input[class="btn-check"]:hover + label {
    background-color: $secondary !important;
    color: white !important;
    border-color: $secondary !important;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
   .radio-button-group {
    max-width: 100%;
    margin-top: 0.2em;
    display: flex;
   }
  
   .rubric {
    padding: 0.5em;
    background-color: #272822;
    border: 0.5px solid #525252;
    color: #cccccc;
   }
  
  .bi-search {
    color: $primary;
  }

  textarea {
    width: 100%;
    height: 8em;
  }

  input {
    margin-bottom: 1em;
    padding: 1%;
    width: 100%;
  }

  #deleteBtn {
    margin-right: 1em;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 18px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container .radio-button {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
  }

  .container:hover .radio-button ~ .checkmark {
    background-color: #ccc;
  }

  .container .radio-button:checked ~ .checkmark {
    background-color: white;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container .radio-button:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: $primary;
 }
 
 @media (max-width: 235px) {
  .radio-button-group {
    flex-direction: column;
  }
 }