@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #8CBEB2;
$secondary: #557a70;
$tertiary: #28443d;

#commentBox {
    display: flex;
    flex-direction: column;
  } 
  
  body {
    margin-top: 1em;
    background-color: #F5F2ED;
    font-family: Helvetica, sans-serif;
  }
  
  .btn-group {
    margin-bottom: 0.7em;
  }
  
  .btn-primary {
    background-color: $primary;
    color: black;
    border-color: $secondary;
  
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
    }

    &:active {
      background-color: $tertiary !important;
    }
  }
    
  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  h2 {
    font-size: 1em;
  }

  .btn-outline-primary {
    border-color: $secondary;
    color: $secondary;
  }

  input[class="btn-check"]:checked + label {
    background-color: $primary !important;
    color: black !important;
    border-color: $secondary !important;
  }

  input[class="btn-check"]:hover + label {
    background-color: $secondary !important;
    color: white !important;
    border-color: $secondary !important;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
   .radio-button-group {
    width: 60%;
    margin-top: 2em;
    display: flex;
   }
  
   .rubric {
    padding: 0.5em;
    background-color: #F4F4F4;
    border: 0.5px solid #525252;
   }
  
  .bi-search {
    color: $primary;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container .radio-button {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
  }

  .container:hover .radio-button ~ .checkmark {
    background-color: #ccc;
  }

  .container .radio-button:checked ~ .checkmark {
    background-color: white;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container .radio-button:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
   border-radius: 50%;
   background: $primary;
 }
 